<!--

<%= form_for(@sea_report) do |f| %>
  <% if @sea_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sea_report.errors.count, "error") %> prohibited this sea_report from being saved:</h2>

      <ul>
      <% @sea_report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

-->


<div class="alert alert-success" id ="flash_create_message"></div>
<div class="alert alert-danger" id ="flash_error_message"></div>
<fieldset class="fieldset bg-change">

<h4><b>
Report <%= @count %> from <%= session[:starting_port] %> to <%= session[:reached_port] %>
</b> </h4>
<br>


<div class="col-md-offset-1 container">

    <!-- Menu bar-->
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#port_details">Port Details</a></li>
        <li><a data-toggle="tab" href="#ship_particulars">Ship Particulars</a></li>

        <li><a data-toggle="tab" href="#help">Operating condition</a></li>
        <li><a data-toggle="tab" href="#help">Weather and Distance</a></li>
        <li><a data-toggle="tab" href="#help">Close Report</a></li>
        <li><a data-toggle="tab" href="#help">Help</a></li>
    </ul>
    <br>
    <br>

    <!-- Tab content -->
    <div class="tab-content fieldset col-md-10 bg-change1">

        <!-- First Section -->

      <div id="port_details" class="tab-pane fade in active">
        <b><h3>Port Details</h3></b>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">

            <%= render 'sea_ports/edit_sea_port' %>
          </div>
        </div>

      </div>

      <!-- Second Section -->
      <div id="ship_particulars" class="tab-pane fade">
          <h3>Ship Particulars</h3>

          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <%= render 'ship_particulars' %>
            </div>
          </div>
      </div>


      <div id="help" class="tab-pane fade">
        <h3>HOME</h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>

</div>



</fieldset>