<div class="alert alert-success" id ="flash_create_message"></div>
<div class="alert alert-danger" id ="flash_error_message"></div>
<fieldset class="fieldset bg-change">

<h4><b>
Report <%= @count %> from <%= @sea_port.starting_port_name %> to <%= @sea_port.reached_port_name %>
</b> </h4>
<br>


<div class="col-md-offset-1 container">

    <!-- Menu bar-->
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#port_details">Port Details</a></li>
        <li><a data-toggle="tab" href="#help">Operating condition</a></li>
        <li><a data-toggle="tab" href="#help">Weather and Distance</a></li>
        <li><a data-toggle="tab" href="#close_report">Close the Report</a></li>
        <li><a data-toggle="tab" href="#help">Help</a></li>
    </ul>
    <br>
    <br>

    <!-- Tab content -->
    <div class="tab-content fieldset col-md-10 bg-change1">

        <!-- First Section -->

      <div id="port_details" class="tab-pane fade in active">
        <b><h3>Port Details</h3></b>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">

            <%= render 'sea_ports/edit_sea_port' %>
          </div>
        </div>

      </div>

      <div id="close_report" class="tab-pane fade">
        <b><h3>Close Report</h3> </b>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">

            <%= render 'close_report' %>
          </div>
        </div>
      </div>

</div>
</fieldset>