
<b>
Report <%= @count %> from <%= session[:starting_port] %> to <%= session[:reached_port] %>
</b>

<div class="alert alert-success" id ="flash_create_message"></div>
<div class="alert alert-danger" id ="flash_error_message"></div>
<fieldset class="fieldset">
	<div class="row">
		<div class="col-md-4 col-md-offset-3">
			<%=form_for @project, :class=>"form-inline" , :remote => true do |f| %>
				<div class="form-group">
					<label class="" for="input01">Project<span style="color: #FF0000;padding: 4px;">*</span></label>  
					<div class="s">  
						<%=f.text_field :ProjectName, :required => 'required'%> 
					</div> 
				</div>
				<button type="submit" class="btn btn-primary"  style="margin-top: 23px;" id ="create_project_button">Create Project</button>
			<%end%>
		</div>
		<div class="col-md-3" style="overflow: auto; height: 500px; ">
			<label class="" for="input01">Project List</label>
			<ul class="list-group" id = "project_list_create_form">
				<% @projects.reverse.each do |project|%>
				<li class="list-group-item list-group-item-info"><%= project.ProjectName%>
					<%= link_to "javascript:;", :class => "delete_project",  :data_id => project.objectId, :style => "float: right;" do %> <span class="badge">delete</span>
					<%end%>
				</li>
				<%end%>
			</ul>
		</div>
	</div>
</fieldset>

